.header {
  width: 100wh;
  height: 60vh;
  background-image: url("https://image.jimcdn.com/app/cms/image/transf/none/path/s192ce046446959c6/backgroundarea/ide929ee0b592ac99/version/1562095549/image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.header__inner {
  z-index: 2;
}

.header__title {
  color: aliceblue;
  text-align: center;
  position: relative;
  font-size: 36px;
  text-transform: uppercase;
}

.search-input {
  padding-bottom: 20px;
}

.search-input input {
  width: 430px;
  margin-right: 5px;
  height: 25px;
  font-size: 20px;
  padding-left: 5px;
}

.search-input button {
  background-color: #fff;
  height: 30px;
  font-size: 20px;
  display: inline-block;
}

.search-block label {
  margin-right: 50px;
}

.search-block label span {
  color: rgb(238, 238, 238);
  font-size: 18px;
  padding-right: 10px;
}

.search-block select {
  width: 100px;
  height: 25px;
  cursor: pointer;
}

.found-books {
  text-align: center;
  padding: 30px 0;
}

.books {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Book Card */

.book-card {
  background-color: rgb(216, 216, 216);
  width: 250px;
  margin: 0 15px 30px;
  padding: 15px;
}

.book-card__img {
  text-align: center;
}

.book-card__img img {
  width: 70%;
  height: 200px;
}

.book-card__title {
  font-size: 16px;
}

.book-card__category {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: underline;
  opacity: 0.8;
}

.book-card__authors {
  padding-top: 10px;
  opacity: 0.9;
  font-size: 14px;
}

.empthy {
  text-align: center;
  padding-top: 60px;
}

.empthy h2 {
  font-size: 44px;
  color: darkgray;
}

.load-more {
  text-align: center;
  padding: 30px;
}

.load-more button {
  background-color: rgb(0, 68, 255);
  color: aliceblue;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 3px;
  transition: 0.3s;
}

.load-more button:hover {
  opacity: 0.9;
}

/* BOOK PAGE */

.book-page {
  display: flex;
  padding: 50px 15px;
  background-color: burlywood;
}

.book-image {
  flex: 1;
}

.book-image img {
  width: 300px;
}

.book-info {
  flex: 2;
  padding-left: 15px;
}

.book-info__title {
  margin-bottom: 20px;
}

.book-info ul {
  display: flex;
}

.book-info li {
  margin-right: 10px;
  text-decoration: underline;
}

.book-info .li-title {
  font-weight: bold;
  text-decoration: none;
}

.book-info__description {
  padding: 25px 0;
}

.book-info__original-link {
  padding-top: 15px;
}
.book-info__original-link span {
  font-weight: bold;
  margin-right: 10px;
}

.book-info__original-link a {
  margin-right: 10px;
  color: blue;
  text-decoration: underline;
  transition: 0.3s;
}

.book-info__original-link a:hover {
  color: darkblue;
}

@media screen and (max-width: 890px) {

  .header {
    padding: 30px 10px;
    height: 50vh;
    align-items: flex-start;
  }

  .header__title {
    font-size: 26px;
    margin-bottom: 15px;
  }
  
  .search-input {
    padding-bottom: 20px;
  }
  
  .search-input input {
    width: 200px;
    height: 25px;
    margin-bottom: 5px;
  }
  
  .search-input button {
    height: 25px;
    font-size: 16px;
  }
  
  .search-block label {
    margin-right: 5px;
    display: block;
    margin-bottom: 10px;
  }
  
  .search-block label span {
    color: rgb(238, 238, 238);
    font-size: 18px;
    padding-right: 10px;
  }
  
  .search-block select {
    width: 100px;
    height: 25px;
    cursor: pointer;
  }

  .book-page {
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
    background-color: burlywood;
  }

  .book-info {
    padding-top: 25px;
  }
}
